BotToken=(Enter Discord Bot token Here)
ClientID=(Enter Discord Bot Client ID Here)
GuildID=(Enter Discord Bot Home Server ID Here)
ClinetSecret=(Enter Discord Bot Client Secret Here)
InviteLink=(Enter Discord Bot Invite Link Here)
RegisterChannelID=(Enter Discord Registration Channel ID Here)
OWNERS=(Enter Discord Bot owners ID Here)
MongoURI=(Enter Mongo DB URI Here)
BotID=(Enter Discord Bot ID Here)
RaidLeaders=(Enter Discord User ID or Role ID Who Are Going To Use Avalonian Raid Commands Here)
